BeautifulSoup==3.2.1
dj-database-url==0.3.0
Django==1.7.1
django-bootstrap3==5.1.1
django-braces==1.4.0
django-tables2==0.15.0
django-template-debug==0.3.5
mechanize==0.2.5
mock==1.0.1
nose==1.3.4
numpy==1.9.2
pandas==0.15.2
pbr==0.10.8
pyparsing==2.0.3
python-dateutil==2.3
pytz==2014.10
scikit-learn==0.15.2
scipy>=0.12
six==1.9.0
stevedore==1.3.0
mysqlclient==1.3.6
uWSGI==2.0.10
